.static-page
  header.white
    border-bottom: 1px solid $border-color
    h2
      padding: +emCalc(7px, 0)
      margin: 0
      text-transform: uppercase
  .title
    h2
      margin-bottom: 0
    h4
      color: $secondary-color
      margin-bottom: +emCalc(25px)
  .sidebar
    padding: +emCalc(25px, 0)
    strong
      color: $secondary-color
    ul:last-child
      margin-bottom: +emCalc(20px)
  .text
    padding-top: +emCalc(15px)
    h3
      margin-top: +emCalc(25px)
      &:first-child
        margin-top: 0
    a
      @media #{$medium}
        display: block
        content: " "
        height: 50px
        visibility: hidden
        margin-top: -50px
    h4
      font-weight: 400
    ul, ol
      margin-left: +emCalc(25px)
      li
        margin-bottom: +emCalc(10px)
  dl
    margin-top: +emCalc(24px)
    dt
      font-size: 120%
  .section-content
    background-image: linear-gradient(to bottom, transparent 98%, $body-font-color 110%)
    margin-bottom: 0
    padding-bottom: +emCalc(20px)
  .center
    text-align: center
  .main-section
    h2
      text-align: left
    .exemple
      p
        font-size: 80%
        padding-left: +emCalc(5px)
        padding-right: +emCalc(5px)
    div
      padding-bottom: +emCalc(5px)
  .hero
    min-height: +emCalc(185px)
    padding: +emCalc(50px, 0)h
    text-transform: uppercase
    background-image:
      position: absolute
    h2
      font-size: 180%
      font-weight: 500