= simple_form_for @project.project_faqs.new, url: project_faqs_path(@project) do |form|
  = form.input :title, as: :string, label: 'Titre'
  = form.input :answer, as: :text,  label: 'Réponse', input_html: {rows: 10}
  = form.button :submit, 'Créer'
