| Bonjour, #{@user.display_name},
br/
br/

| #{@asker.display_name} à une question concernant le projet que vous avez déposé sur dune investissement solidaire. Vous n'avez qu'à répondre à cet e-mail pour contacter #{mail_to @asker.email, @asker.display_name} directement.
br/
br/
strong Question:
= simple_format(@question)
br/
br/
| Astuce : Vous pourrez répercuter la réponse à cette question sur votre page projet, pour cela n'oubliez pas de consulter l'onglet #{link_to 'Questions', project_faqs_url(@project)}. Répondre aux questions communes sur cet onglet aidera les utilisateurs à comprendre votre projet et réduira les prises de contact direct.
br/
br/
| Salutations sincères,
br/
| L'équipe #{::Configuration[:company_name]}
