strong Êtes-vous sûr ?
| &nbsp;Contribuer publiquement permettra aux autres de voir votre implication dans un investissement sociale et solidaire. Il pourrait même encourager vos amis à s’impliquer à leur tour !
br
br
| Le montant de votre investissement ne sera divulgué à personne, si ce n’est au propriétaire du bien. Seul votre nom est visible publiquement.
