strong Êtes-vous sûr ?
| Contribuer publiquement permettra aux autres de voir votre implication. Il pourrait même encourager vos amis à s’impliquer à leur tour !
br
br
| Le montant de vos prêts ne sera divulgué à personne, si ce n’est au propriétaire du projet. Seul votre nom est visible publiquement.
