| Salutations
- if @resource.name
  | , #{@resource.name}!
br
br
| Mot de passe oublié ? Pas de soucis ! Vous pouvez le réinitialiser grâce au lien suivant :
br
h1 = link_to('réinitialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token))
br
| Si vous rencontrez d'autres problèmes, n'hésitez pas,
= mail_to "contact@dune-investissement.fr", 'contacter nous'
| .
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
