- project = @notification.project
- user = @notification.user
|Bonjour, #{user.display_name}.
br
br
| #{project.user.display_name} vient juste de démarrer un projet sur #{Configuration[:company_name]} et nous avons pensé que vous aimeriez le savoir ! Découvrez leur travail incroyable.
br
br

table border="0" cellpadding="3" cellspacing="0" width="220" align="center"
  tr
    td width="220" valign="top" style="text-align: center;"
      = link_to project.name, project_url(project), style: 'text-decoration: none; color: #333; font-size: 16px; text-align: center;'

br
|Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
