- if @notification.contribution.present?
  - resource = @notification.contribution
- else
  - resource = @notification.match

|Projet : #{contribution.project.name}
br
|Clé :
strong #{resource.key}
br
|Crée le : #{resource.created_at}
br
|Confirmé le : #{resource.confirmed_at}
