- user = @notification.user
|Bonjour, #{user.name}!
br
br
|Nous vous remercions pour le dépôt de votre dossier sur #{Configuration[:company_name]}. Nous avons bien reçu votre dossier et nous vous ferons un retour sous peu. Notre comité des engagements examinera votre dossier dans les cinq jours ouvrables. À ce terme, votre dossier sera soit approuvé, soit nous le réexaminerons avec vous. Il est également possible que votre dossier ne puisse répondre aux engagements que nous prenons envers notre communauté. Il serait alors refusé définitivement.
br
br
|En attendant, vous pouvez commencer à ajouter les détails de #{link_to "votre bien immobilier", project_url(@notification.project)} si vous le souhaitez, noter que la page de votre bien restera en mode brouillon jusqu'à son approbation.
br
br
|Vous pouvez aussi,  #{link_to "visualiser les autres biens",  "#{Configuration[:base_url]}/explore"} pour vous inspirer de leur présentation.
br
br
|Vous pouvez nous aider à développer la communauté #{Configuration[:company_name]} en réalisant un like  #{link_to 'Facebook', Configuration[:facebook_url]} et en nous suivant sur #{link_to 'Twitter', "http://twitter.com/#{Configuration[:twitter_username]}" } vous resterez ainsi au courant des prochains développements. Et si vous avez des questions, n’hésitez pas à nous envoyer un e-mail : #{mail_to Configuration[:email_contact]}
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
