- user = @notification.user
- project = @notification.project
- channel = @notification.channel

|Bonjour, #{user.name}!
br
br
|Nous vous remercions pour le dépôt de votre projet sur le flux #{channel.name}. Nous l'avons bien reçu et ferons un suivi sous peu. Notre équipe examinera votre dossier dans les cinq jours ouvrables. À ce terme, votre projet sera soit approuvé, soit nous vous accompagnerons afin de le retravailler. Il est également possible que votre projet ne puisse répondre aux engagements que nous prenons envers notre communauté. Il serait alors refusé définitivement.
br
br
|En attendant, vous pouvez commencer à ajouter les détails de #{link_to "votre brouillon projet", project_url(@notification.project, subdomain: channel.permalink)} si vous le souhaitez, noter qu'il restera en mode brouillon jusqu'à son approbation.
br
br
|Vous pouvez aussi,  #{link_to "visualiser les autres projets",  "#{Configuration[:base_url]}/explore"} pour vous en inspirer. Et si vous les aimez, apportez votre contribution ! C’est un excellent moyen d'appréhender le système, et de montrer que vous le soutenez.
br
br
|Vous pouvez nous aider à déveloper la communauté #{Configuration[:company_name]} en réalisant un like  #{link_to 'Facebook', Configuration[:facebook_url]} et en nous suivant sur #{link_to 'Twitter', "http://twitter.com/#{Configuration[:twitter_username]}" } vous resterez ainsi au courant des prochains développements. Et si vous avez des questions, n’hésitez pas à nous envoyer un e-mail : #{mail_to Configuration[:email_contact]}
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
