- project = @notification.project
|Bonjour #{project.user.name},
br
br
|Tout d'abord, félicitations pour ce succès ! Vous l'avez mérité.
br
br
|Le besoin en financement ayant été atteint, nous allons préparer les documents nécessaires et vous contacter afin de vous préciser une date de rendez-vous chez le notaire.
br
|Le notaire va également contacter vos créanciers afin d'apurer vos dettes lors de notre passage devant le notaire.
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
