- user = @notification.user
|Bonjour #{user.name},
br
br
|Merci d'avoir soumis votre projet sur #{Configuration[:company_name]}.
br
br
|Malheureusement, nous ne pouvons pas accepter votre projet, en raison de l'une ou plusieurs des raisons suivantes :
ol
  li Votre entité n’est pas admissible à la collecte de fonds par le biais de notre plateforme
  li Votre projet ne répond pas aux engagements que nous prenons envers notre communauté
  li Votre projet ne répond pas à nos lignes directrices d'éligibilité des projets
br
|Encore une fois, nous vous remercions de votre intérêt, et nous vous souhaitons la meilleure des chances avec votre projet.
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
