- project = @notification.project
|Bonjour, #{project.user.name},
br
|Votre projet vient de se terminer sur dune-investissement-solidaire. Il  reste encore quelques paiements de dernière minute qui sont en cours de vérification. Ce processus peut prendre jusqu'à cinq jours ouvrés.
br
br
|Ne vous inquiétez pas. La plupart du temps, les paiements sont confirmés sans problème. Il s’agit d’une précaution pour nous assurer que votre campagne se termine avec le montant exact des fonds nécessaires.
br
br
|Merci,
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
