- project = @notification.project
|Bonjour #{project.user.name},
br
br
|Tout d'abord, félicitations pour le succès de votre projet! Vous l'avez mérité.
br
br
|Lorsque vous le pourrez, merci de consulter les instructions suivantes qui concernent les prochaines étapes de votre campagne. Il reste deux grandes étapes :
br
ol 
  li Téléchargez le rapport final avec les détails de vos prêteurs (nom, récompenses, adresses, etc.) depuis le lien #{link_to "rapports", project_path(project, anchor: "project_reports")} depuis la page de votre projet (vous devez être connecté).
  li Contactez vos prêteurs, afin de procéder à la mise en place des récompenses si nécessaires.
br
|Si vous avez d'autres questions, merci de nous contacter par e-mail:  #{mail_to Configuration[:email_contact]}
br
br
| Sincères salutations,
br
| L'équipe #{Configuration[:company_name]}
