- contribution = @notification.contribution
p Utilisateur #{contribution.user.display_name}
p E-mail : #{contribution.user.email}
p Projet : #{contribution.project.name}
p Clé : #{contribution.key}
p ID paiement : #{contribution.payment_id}
p Montant des contributions : #{contribution.display_value}
p Méthode de paiement : #{contribution.payment_method}
p Crée le : #{contribution.created_at}
